@charset "utf-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    background-color: rgb(74, 74, 173);
    padding: 20px;
}

header{
    text-align: center;
    color: white;
    padding: 0px 20px;
}


section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 3px 3px 10px black;
}



footer{
    text-align: center;
    color: white;
    font-style: italic;
    padding: 20px;
}

#msg{
    text-align: center;
    padding: 15px 0px;
    font: normal bold 1em arial;
}

#image{
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin:0 auto;
}